<!DOCTYPE html>
<html>
<head>
  <title>Профиль пользователя</title>
</head>
<body>
  <h1><b>Профиль</b></h1>

  <p><b>Ваш телефонный номер:</b> {{ user.phone }}</p>

  <p><b>Ваш Реферальный код:</b> {{ user.invite_code }}</p>

  {% if user.user_activate_code %}
    <p><b>Ваш код приглашения:</b> {{ user.user_activate_code }}</p>

  {% else %}
    <form method="POST" action="{% url 'save_invite_code' %}">
      {% csrf_token %}
      <label for="invite_code">Введите код приглашения:</label>
      <input type="text" id="invite_code" name="invite_code">
      <button type="submit">Сохранить</button>
    </form>
  {% endif %}
</body>
</html>